@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PayperClip</h1>
    <p>
        Unfolding creativity, one clip at a time
        <br/>
        <br/>
        <br/>
        <img src="/image/PayPerClip-logo.png" width=500 height=500 />
    </p>
</div>
